@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}
.app-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0f5fc2 #f3f4f6;
}

.app-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.app-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 9999px;
}

.app-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(15, 95, 194, 1), rgba(3, 186, 107, 1));
  border-radius: 9999px;
}

.app-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgba(13, 83, 170, 1), rgba(2, 160, 92, 1));
}

.app-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.app-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
.logo-container {
  perspective: 1000px;
  width: 114px;
  height: 114px;
}

.logo-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: flipCoin 8s infinite ease-in-out;
}

.logo-face {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

/* 🔥 MAGIC */
@keyframes flipCoin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}